.app_2D_webshop__bookSubTitle {
    color : lime;
    font-size : 85%;
}


a {
    color : black !important;
}
a:hover {
    color : green !important;
}
a:visited {
    color : rgba(0,50,0,1) !important;
}

.vividDialog {
    scrollbar-color : lime rgba(0,0,0,0.5);
}
.vividDialog[theme="light"] {
    border : 3px ridge lime;
    background : rgba(255,255,255,0.5);
    color : black;
    box-shadow : 7px 7px 5px rgba(0,0,0,0.7), inset -2px -2px 2px rgba(0,0,0,0.8), inset 2px 2px 2px rgba(0,0,0,0.8);
    border-radius : 15px;
}

.vividScrollpane {
    overflow : auto;
}
.vividScrollpane::-webkit-scrollbar {
  width: 1rem;
}
.vividScrollpane::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background : rgba(0,0,0,0.5);
}
.vividScrollpane::-webkit-scrollbar-button:vertical:decrement {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  color : white;
  padding : 0;
  margin : 0;
  border-radius : 10px 10px 0px 0px;
  background : url('/siteMedia/vividDialog/frame_e02_001.png') center;
}
.vividScrollpane::-webkit-scrollbar-button:vertical:increment {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  padding : 0;
  margin : 0;
  color : white;
  border-radius : 0px 0px 10px 10px;
  background : url('/siteMedia/vividDialog/frame_e03_001.png') center;
}
.vividScrollpane::-webkit-scrollbar-button:horizontal:decrement {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  color : white;
  padding : 0;
  margin : 0;
  border-radius : 10px 0px 0px 10px;
  background : url('/siteMedia/vividDialog/frame_e06_001.png') center;
}
.vividScrollpane::-webkit-scrollbar-button:horizontal:increment {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  padding : 0;
  margin : 0;
  color : white;
  border-radius : 0px 10px 10px 0px;
  background : url('/siteMedia/vividDialog/frame_e07_001.png') center;
}
.vividScrollpane::-webkit-scrollbar-thumb {
  background : url('/siteMedia/backgrounds/tiled/blue/blue174.jpg') repeat;
  border-radius : 20px;
}

/*
.vividDialogContent::-webkit-scrollbar {
  width: 1rem;
}
.vividDialogContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background : rgba(0,0,0,0.5);
}
.vividDialogContent::-webkit-scrollbar-button:vertical:decrement {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  color : white;
  padding : 0;
  margin : 0;
  border-radius : 10px 10px 0px 0px;
  background : url('/siteMedia/vividDialog/frame_e02_001.png') center;
}
.vividDialogContent::-webkit-scrollbar-button:vertical:increment {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  padding : 0;
  margin : 0;
  color : white;
  border-radius : 0px 0px 10px 10px;
  background : url('/siteMedia/vividDialog/frame_e03_001.png') center;
}
.vividDialogContent::-webkit-scrollbar-button:horizontal:decrement {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  color : white;
  padding : 0;
  margin : 0;
  border-radius : 10px 0px 0px 10px;
  background : url('/siteMedia/vividDialog/frame_e06_001.png') center;
}
.vividDialogContent::-webkit-scrollbar-button:horizontal:increment {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  padding : 0;
  margin : 0;
  color : white;
  border-radius : 0px 10px 10px 0px;
  background : url('/siteMedia/vividDialog/frame_e07_001.png') center;
}
.vividDialogContent::-webkit-scrollbar-thumb {
  background : url('/siteMedia/backgrounds/tiled/blue/blue170.jpg') repeat;
  border-radius : 20px;
}*/

.vividButton[theme="light"] {
    border : 3px ridge rgba(255,255,255,0.7);
    background-image: -o-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: -moz-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: -webkit-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: -ms-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    border : 3px ridge rgba(255,255,255,0.7);
    padding : 5px;
    border-radius : 20px;
    z-index : 1;
    pointer-events : none;
}  
.vividButtonSelected[theme="light"] {
    border : 3px ridge rgba(255,255,255,0.7);
    padding : 5px;
    border-radius : 20px;
    z-index : 1;
    pointer-events : none;
}    

.vividButton[theme="light"] a, .vividButtonSelected[theme="light"] a {
  color : white;
  text-decoration : none;
}
.vividButton[theme="light"]::before {
    content: "";
    position: absolute;
    pointer-events: all;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background-image: -o-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: -moz-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: -webkit-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: -ms-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    border-radius : 20px;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}    
.vividButton[theme="light"]:hover::before {
    opacity: 1;
    background-image: -o-linear-gradient(bottom, rgba(50,50,100,0.4) 25%, rgba(150,150,200,0.8) 81%);
    background-image: -moz-linear-gradient(bottom, rgba(50,50,100,0.4)  25%, rgba(150,150,200,0.8) 81%);
    background-image: -webkit-linear-gradient(bottom, rgba(50,50,100,0.4) 25%, rgba(150,150,200,0.8) 81%);
    background-image: -ms-linear-gradient(bottom, rgba(50,50,100,0.4) 25%, rgba(150,150,200,0.8) 81%);
    background-image: linear-gradient(bottom, rgba(50,50,100,0.4) 25%, rgba(150,150,200,0.8) 81%);
}
.vividButtonSelected.selected[theme="light"]::before {
    content: "";
    position: absolute;
    pointer-events: all;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: linear-gradient(bottom, rgba(0,0,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    border-radius : 20px;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 1;
}    
.vividButtonSelected.selected[theme="light"]:hover::before {
    opacity: 1;
    background-image: -o-linear-gradient(bottom, rgba(0,100,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: -moz-linear-gradient(bottom, rgba(0,100,0,0.4)  25%, rgba(40,255,40,0.8) 81%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,100,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: -ms-linear-gradient(bottom, rgba(0,100,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: linear-gradient(bottom, rgba(0,100,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
}


.button[theme="light"] {
    border : 3px ridge rgba(255,255,255,0.7);
    background-image: -o-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: -moz-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: -webkit-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: -ms-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    border : 3px ridge rgba(255,255,255,0.7);
    padding : 8px;
    border-radius : 20px;
    z-index : 1;
    pointer-events : none;
}  
.buttonSelected[theme="light"] {
    border : 3px ridge rgba(255,255,255,0.7);
    padding : 5px;
    border-radius : 20px;
    z-index : 1;
    pointer-events : none;
}    

.button[theme="light"], .buttonSelected[theme="light"] {
  color : white;
}
.button[theme="light"] a, .buttonSelected[theme="light"] a {
  color : white;
  text-decoration : none;
}
.button[theme="light"]::before {
    content: "";
    position: absolute;
    pointer-events: all;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background-image: -o-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: -moz-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: -webkit-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: -ms-linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    background-image: linear-gradient(bottom, rgba(50,50,50,0.4) 25%, rgba(150,150,150,0.8) 81%);
    border-radius : 20px;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}    
.button[theme="light"]:hover::before {
    opacity: 1;
    background-image: -o-linear-gradient(bottom, rgba(50,50,100,0.4) 25%, rgba(150,150,200,0.8) 81%);
    background-image: -moz-linear-gradient(bottom, rgba(50,50,100,0.4)  25%, rgba(150,150,200,0.8) 81%);
    background-image: -webkit-linear-gradient(bottom, rgba(50,50,100,0.4) 25%, rgba(150,150,200,0.8) 81%);
    background-image: -ms-linear-gradient(bottom, rgba(50,50,100,0.4) 25%, rgba(150,150,200,0.8) 81%);
    background-image: linear-gradient(bottom, rgba(50,50,100,0.4) 25%, rgba(150,150,200,0.8) 81%);
}
.buttonSelected.selected[theme="light"]::before {
    content: "";
    position: absolute;
    pointer-events: all;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: linear-gradient(bottom, rgba(0,0,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    border-radius : 20px;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 1;
}    
.buttonSelected.selected[theme="light"]:hover::before {
    opacity: 1;
    background-image: -o-linear-gradient(bottom, rgba(0,100,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: -moz-linear-gradient(bottom, rgba(0,100,0,0.4)  25%, rgba(40,255,40,0.8) 81%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,100,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: -ms-linear-gradient(bottom, rgba(0,100,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
    background-image: linear-gradient(bottom, rgba(0,100,0,0.4) 25%, rgba(40,255,40,0.8) 81%);
}
