 /* This is always to be pre-loaded by index.css.json in .../domainConfig/DOMAIN_TLD/index.css.json !*/

 div.vividMenu_subMenuPanel {
    padding : 10px;
    border-radius : 10px;
    border : 3px solid rgba(230,230,230,0.751);
    box-shadow : 3px 3px 4px 5px rgba(0,0,0,0.761);
}
div.vividMenu_subMenuPanel::before {
    position : absolute;
    z-index : -1;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    content : '';
    background-image : url('/siteMedia/backgrounds/tiled/Orange/1480.jpg');
    background-repeat : repeat;
    opacity : 0.7;
    box-shadow : inset 1px 1px 3px 2px rgba(0,0,0,0.8);
    border-radius : 10px;
}


div.vividMenu_subMenuPanel div {
    background : rgba(0,0,50,0.75126);
    color : rgba(200,200,200,0.555);
    font-size : large;
    font-weight : bold;
    margin-top : 5px;
}
div.vividMenu_subMenuPanel a {
    color : white;
    text-shadow : 2px 2px 3px black;
}
div.vividMenu_subMenuPanel a:hover {
    color : lime;
    text-shadow : 2px 2px 3px black;
}
div.vividMenu_subMenuPanel a:visited {
    color : silver;
    text-shadow : 0px 0px 3px yellow, 2px 2px 3px black;
}
